html {
  box-sizing: border-box;
  background: #F8F8F8;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  border: 2px solid transparent;
  width: 800px;
  height: 1200px;
  display: flex;
  margin-left: 25%;
  background: rgb(67, 67, 67);
  color: white;
  font-size: 20px;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px #A0A0A0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins|Noto+Serif+TC|PT+Serif');
p {
  color: white;
  font-size: 25px;
  text-align: left;
  font-family: 'Poppins';
  margin: 30px;
  margin-bottom: 1px;
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: 'Poppins';
}

input {
  border: 1px solid white;
  background: rgb(67, 67, 67);
  height: 50px;
  width: 90%;
  margin: 30px;
  margin-top: 1px;
  padding: 10px;
  font-size: 20px;
  color: white;
}

input:focus {
  outline: none;
}

.submit {
  height: 50px;
  width: 300px;
  border: 1px solid white;
  background: rgb(67, 67, 67);
  color: white;
  font-size: 20px;
  margin-left: 230px;
  margin-top: 50px;
  outline: none;
}

.error {
  border: solid 2px red;
}

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
#page2 {
  background: rgb(67, 67, 67);
  color: white;
  height: 100vh;
  text-align: center;
  font-family: 'Shadows Into Light';
  font-size: 100px;
}

#page2 .pg {
  background: rgb(67, 67, 67);
  color: white;
  height: 100vh;
  text-align: center;
  font-family: 'Shadows Into Light';
  font-size: 100px;
}